#footer{
    display: flex;
    background-color: rgb(152, 215, 59);
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    justify-content: space-between;  
    font-weight: bold; 
}
#footer img{
    max-width: 100%;
   
}
#gmailimage{
    width: 13%;
}
#linkedinimage{
    width: 14%;
}
#githubimage{
    width: 5%;
}

/* @media (min-width : 800px){
    #footer{
        display: flex;
        background-color: rgb(255, 255, 255);
        margin-top: 10%;
        font-style: oblique;
        bottom: 0;
    justify-content: space-evenly;
    }
    

} */